*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
}

/* NAVBAR GENERAL */

.encabezado {
    background-color: black;
}

.titulo {
    text-decoration: none;
    list-style: none;
    color: white;
    cursor: pointer;
    font-size: 25px;
    margin-top: -10px;
}

.titulo:hover {
    color: rgb(86, 86, 253);
    text-decoration: none;
}

.lista {
    margin-top: 15px;
}

.bordeDeBusqueda {
    border: 1px solid rgb(86, 86, 253);
    border-radius: 15px;
}

.paginas {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.paginas:hover {
    color: rgb(86, 86, 253);
    cursor: pointer;
}


/* ULTIMAS NOVEDADES */

.cajacar {
    margin-top: 0px;
}

/* PRODUCTOS PINCIPALES */

.promos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 60px;
    margin-top: 75px;
}

.tecnologia {
    width: 75%;
    height: 200px;
    background-color: rgb(218, 218, 218);
    border-radius: 20px;
    object-fit: contain;
}

.tecnologia:hover {
    box-shadow: 3px 3px 3px black;
    width: 80%;
    height: 200px;
    border: 10px solid transparent;
}

.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wach {
    margin-top: 40px;
    cursor: pointer;
}

.airPods,
.pad {
    margin-top: -20px;
    cursor: pointer;
}

.nombres {
    text-transform: uppercase;
    font-size: 18px;
    margin: 15px;
    text-align: center;
}

.nombres:hover {
    cursor: pointer;
    color: rgb(86, 86, 253);
    text-decoration: underline;
}

.info,
.precio {
    padding: 3px;
    text-transform: uppercase;
    cursor: default;
    color: rgb(86, 86, 253)
}

.masInfo {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    width: 150px;
}

.masInfo:hover {
    color: white;
    background-color: rgb(80, 80, 80);
    border-radius: 25px;
    cursor: pointer;
    border: none;
    border: 1px solid transparent;
}

/* PAGINA PRINCIPAL */

@media (max-width:1023px) {
    
    /* header */
    header {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .lupa, .carrito, .usuario {
        display: none;
    }

    /* Ultimas novedades */

    .fotos {
        width: 200px;
    }

    .promos, .nombres {
        font-size: 15px;
    }
}

@media (max-width:767px){

    /* header */
    header {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    body {
        contain: content
    }

    .fotos {
        width: 300px;
    }

    .mediaCelu {
        display: none;
    }

    .mediaBoton {
        display: none;
    }

    .promos {
        grid-template-columns: 2fr;
        row-gap: 20px;
    }

    .footerFlex, .contenedorPie {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .zapato {
        border-top: 1px solid white;
    }
}

@media (max-width: 767px) {
    .formulario {
        width: auto;
        align-content: center;
    }

    .area {
        width: auto;
        
    }

    .papel {
        width: auto;
        height: auto;
        
    }
}
