/* PRODUCTOS PINCIPALES */

.productosTitulo {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

.promos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 60px;
    margin-top: 50px;
    width: auto;
    height: auto;
    margin-bottom: 50px;
}

.tecnologia {
    width: 75%;
    height: 200px;
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: screen;
    border-radius: 20px;
    object-fit: contain;
    transition: width 1s, height 1s;

    &:hover {
        box-shadow: 2px 2px 2px rgb(107, 107, 107);
        width: 80%;
        height: 210px;
    }
}

.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wach {
    margin-top: 40px;
    cursor: pointer;
}

.airPods,
.pad {
    margin-top: -20px;
    cursor: pointer;
}

.nombres {
    text-transform: uppercase;
    font-size: 18px;
    margin: 15px;
    text-align: center;
    transition: color 1s;

    &:hover {
        cursor: pointer;
        color: rgb(86, 86, 253);
        text-decoration: underline;
    }
}

.info,
.precio {
    padding: 3px;
    text-transform: uppercase;
    cursor: default;
    color: rgb(86, 86, 253);
}

.masInfo {
    color: black;
    background-color: $color--botones;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    width: 150px;
    transition: color 1s;

    &:hover {
        color: white;
        background: #232526;
        background: -webkit-linear-gradient(to right, #414345, #232526);
        background: linear-gradient(to right, #414345, #232526);
        border-radius: 20px;
        cursor: pointer;
        border: none;
        border: 1px solid transparent;
    }
}

/* CELULARES */

.smart {
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-bottom: -5px;
}

.mostrador {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 20px;
    margin-bottom: 25px;
}

.moviles {
    width: 70%;
    height: 200px;
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: screen;
    border-radius: 20px;
    object-fit: contain;
    margin-top: 75px;
    cursor: pointer;
    transition: width 1s, height 1s;

    &:hover {
        box-shadow: 2px 2px 2px rgb(107, 107, 107);
        width: 75%;
        height: 210px;
    }
}

.celulares {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comprar {
    color: black;
    background-color: $color--botones;
    border: none;
    border-radius: 25px;
    margin: 10px;
    padding: 5px;
    width: 200px;
    height: 40px;
    transition: color 1s;

    &:hover {
        color: white;
        background: #232526;
        background: -webkit-linear-gradient(to right, #414345, #232526);
        background: linear-gradient(to right, #414345, #232526);
        border-radius: 25px;
        cursor: pointer;
        border: none;
        border: 1px solid transparent;
    }
}
