/* Media quieris */

@media (max-width: 1023px) {
    /* header */
  
    header {
      height: auto;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    /* Ultimas novedades */
  
    .fotos {
      width: 200px;
    }
  
    .promos, .nombres {
      font-size: 15px;
    }

    .promos, .mostrador {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
    }

  }
  
  @media (max-width: 767px) {
    /* header */
  
    header {
      width: 100%;
      height: auto;
      flex-direction: row;
      align-items: center;
      text-align: center;
    }

    .lista {
      display: inline-block;
    }
  
    body {
      contain: content;
    }
  
    .fotos {
      width: 300px;
    }
  
    .mediaCelu, .mediaBoton {
      display: none;
    }
  
    .promos, .mostrador {
      grid-template-columns: 2fr;
      row-gap: 20px;
    }

    .cajapie {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0px;
      row-gap: 25px;
  }

  }

  // soporte
  
  @media (max-width: 767px) {
    .formulario {
      width: auto;
      align-content: center;
    }
  
    .area {
      width: auto;
    }
  
    .papel {
      width: auto;
      height: auto;
    }

  }
  