/* NAVBAR GENERAL */

.encabezado {
    background-color: black;
}

.titulo {
    text-decoration: none;
    list-style: none;
    color: white;
    cursor: pointer;
    font-size: 25px;
    margin-top: 10px;

    &:hover {
        color: rgb(86, 86, 253);
        text-decoration: none;
    }
}

.lista {
    margin-top: 15px;
}

.bordeDeBusqueda {
    border: 1px solid rgb(86, 86, 253);
    border-radius: 15px;
}

.cajon {
    width: auto;
    height: auto;
}

